body {
  background-color: #F2F2F2;
}

.header {
  background-color: #A31C45;
  text-align: center;
  color: #F2F2F2
}

.footer {
  background-color: #184914;
  color: #F2F2F2
}

.login-cabecera{
  background-color: #A31C45;
  text-align: center;
  color: #F2F2F2
}

.logos{
  align-content: center
}